APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:nY+gjcC3SE8RogITQSrZHEIJAe1l7nNGkoomEuMgPdc=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://allpay.dev

ALLPAY_DEBUG_MODE=ture
ALLPAY_STORE_ID=2000132
ALLPAY_HASH_KEY=5294y06JbISpM5x9
ALLPAY_HASH_IV=v77hoKGq4kWxNNIS
ALLPAY_ReturnUrl=/return
ALLPAY_NotifyURL=/callback



DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
